body{
	background-image: url("../../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	background-attachment: fixed;
}

.tasks{
	margin: 40px;
	padding: 25px 25px 25px 25px;
	background-color: rgb(255,255,255,0.6);
}

.tasks table{
	width: 100%;
}

.tasks table tr td{
	width: 25%;
	margin: 10px;
}

.tasks a{ 
    color: white;
    padding: 20px;
    height: 300px;
    width: 70%;
    text-align: center; 
    display: inline-block;
    font-size: 30px; 
    margin: 30px 30px; 
    cursor: pointer; 
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
    box-shadow: 10px 10px 5px black;
}

.tasks img{
	margin: 20px;
}

.recentReq{
	background-color: rgb(255,0,0,0.7);
}
.recentReq:hover{
	background-color: rgb(255,0,0,0.9);
	color: white;
}

.allReq{
	background-color: rgb(0,128,0,0.7);
}
.allReq:hover{
	background-color: rgb(0,128,0,0.9);
	color: white;
}

.editPro{
	background-color: rgb(30,144,255,0.75);
}
.editPro:hover{
	background-color: rgb(30,144,255,0.95);
	color: white;
}

.report{
	background-color: rgb(255,69,0,0.7);
}
.report:hover{
	background-color: rgb(255,69,0,0.9);
	color: white;
}