body{
	background-image: url("../../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	background-attachment: fixed;
}

.breadcrum{
	color: white;
	background-color: rgb(128,0,0,0.9);
	padding: 5px 0px 5px 10px;
}

.requests{
	margin: 20px;
	padding: 25px 25px 25px 25px;
	background-color: rgb(255,255,255,0.6);
	height: 420px;
	overflow: auto;
}

.requests h2{
	margin:10px;
}

.request{
	width: 95%;
	background-color: rgb(192,192,192,0.6);
	padding: 25px 25px 25px 25px;
	margin: 10px;
	height: 200px;
}

.reqDetails{
	width: 98.5%;
	text-align: center;
	background-color: rgb(255,255,255,0.8);
	margin: 10px;
	height: 100px;
}

.requests a{
	float: right;
	text-align: center;
    width: 10%;
    background-color: rgb(0,191,255,0.6);
    border: 1px solid black;
    text-shadow: none;
    padding: 11px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 100%;
}

.requests a:hover{
	background-color: rgb(0,191,255,0.8);
}