body{
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.form{
    background-color: rgb(255,255,255,0.8);
    padding: 20px 0px 20px 0px;
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,13%);
}

.logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 14%;
}

.name1{
	display: inline-block;
	font-family: sans-serif;
	color: #FF8C00;
	margin: 0px;
  	font-size: 400%;
    text-shadow: 4px 4px 4px black;
}

.name2{
    display: inline-block;
	font-family: sans-serif;
	color: #FF8C00;
	margin: 0px;
  	font-size: 700%;
    text-shadow: 4px 4px 4px black;
}

input[type=text],[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(255,255,255,0.3);
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    padding: 11px 20px;
    margin: 8px 0;
    background-color: rgb(0,191,255,0.6);
    border: 1px solid black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 120%;
}

input[type=submit]:hover{
  background-color: rgb(0,191,255,0.9);
}

.forgotpassword{
	  text-decoration: none;
	  font-family: sans-serif;
	  font-size: 90%;
}

.forgotpassword:hover {
    color: #1E90FF;
}
